.additionally {
  margin-bottom: 36px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    top: 13px;
    z-index: -1;
  }
}

.additionally__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.additionally__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
  width: fit-content;
  padding-left: 20px;
  padding-right: 22px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 32px;
}

.additionally__list {
  padding: 0;
  margin: 0;
}

.additionally__item {
  list-style-type: none;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .additionally {
    margin-bottom: 54px;

    &::before {
      top: 22px;
    }
  }

  .additionally__wrapper {
    padding-left: 70px;
    padding-right: 67px;
  }

  .additionally__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 41px;
    margin-left: -40px;
    margin-bottom: 57px;
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 287px 287px;
    column-gap: 57px;
    row-gap: 32px;
  }

  .additionally__item {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    margin-bottom: 61px;

    &::before {
      top: 21px;
    }
  }

  .additionally__title {
    margin-bottom: 55px;
  }

  .additionally__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }

  .additionally__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 82px;
    row-gap: 32px;
  }
}
