.bonus {
  padding-top: 35px;
  padding-bottom: 35px;
}

.bonus__wrapper {
  background-image: url("../img/bonus-image-mobile.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 290px;
    top: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.bonus__icon {
  z-index: 1;
  margin-top: 59px;
  margin-bottom: 48px;
}

.bonus__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: relative;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .bonus {
    padding-top: 69px;
    padding-bottom: 76px;
  }

  .bonus__wrapper {
    display: block;
    background-image: url("../img/bonus-image-tablet.jpg");
    width: 707px;
    height: 200px;
    margin: 0 auto;

    &::before {
      width: 707px;
      height: 200px;
    }
  }

  .bonus__icon {
    position: absolute;
    margin-left: 77px;
    width: 80px;
    height: 83px;
  }

  .bonus__text {
    margin: 0;
    text-align: left;
    position: absolute;
    top: 71px;
    right: 124px;
  }
}

@media (min-width: $desktop-width) {
  .bonus {
    padding: 0;
  }

  .bonus__wrapper {
    background-image: url("../img/bonus-image-desktop.jpg");
    width: 245px;
    height: 288px;

    &::before {
      width: 245px;
      height: 288px;
    }
  }

  .bonus__icon {
    position: absolute;
    margin-left: 84px;
    margin-top: 56px;
  }

  .bonus__text {
    position: relative;
    text-align: center;
    right: auto;
    top: 185px;
  }
}
