.cat-name {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.cat-name__list {
  padding: 0;
  margin: 0;
}

.cat-name__item {
  list-style-type: none;
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cat-name__label {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 12px;
}

.cat-name__input {
  border: 1px solid #e7e7e7;
  padding: 13px 15px 14px 15px;
  font-family: "OswaldRegular", sans-serif;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.cat-name__input::placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .cat-name {
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 72px;
  }

  .cat-name__item {
    margin-bottom: 20px;
  }

  .cat-name__label {
    font-size: 20px;
    line-height: 30px;
  }

  .cat-name__input {
    padding: 11px 19px 12px 19px;
  }
}

@media (min-width: $desktop-width) {
  .cat-name {
    padding: 0;
    margin: 0;
  }
}
