.checkbox__label {
  display: flex;
  align-items: center;

  &:hover .checkbox__mark {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.checkbox__input {
  display: none;
}

.checkbox__mark {
  display: block;
  width: 27px;
  height: 28px;
  border: 1px solid #cdcdcd;
  margin-right: 16px;
  position: relative;
}

.checkbox__input:checked + .checkbox__mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;
  width: 8px;
  height: 16px;
  border-right: 2px solid #68b738;
  border-bottom: 2px solid #68b738;
  transform: rotate(45deg);
}

@media (min-width: $tablet-width) {
  .checkbox__mark {
    width: 38px;
    height: 38px;
    margin-right: 18px;
  }

  .checkbox__input:checked + .checkbox__mark::before {
    top: 6px;
    left: 13px;
    width: 8px;
    height: 20px;
  }
}
