.comment {
  margin-bottom: 19px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    top: 14px;
    z-index: -1;
  }
}

.comment__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.comment__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 38px;
  background-color: #ffffff;
  width: fit-content;
  padding-left: 20px;
  padding-right: 22px;
  margin-left: -20px;
}

.comment__input {
  width: 100%;
  min-height: 150px;
  resize: none;
  border: 1px solid #e7e7e7;
  padding: 8px 13px 8px 13px;
  font-family: "OswaldRegular", sans-serif;
  box-sizing: border-box;
}

.comment__input::placeholder {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .comment {
    margin-bottom: 58px;

    &::before {
      top: 20px;
    }
  }

  .comment__wrapper {
    padding-left: 70px;
    padding-right: 67px;
  }

  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding-left: 39px;
    padding-right: 38px;
    margin-left: -39px;
  }

  .comment__input {
    min-height: 174px;
    padding: 10px 18px 10px 18px;
  }

  .comment__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin-bottom: 60px;
  }

  .comment__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }

  .comment__title {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
  }

  .comment__input {
    padding-top: 8px;
  }
}
