.contacts-details {
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.contacts-details__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.contacts-details__list {
  padding: 0;
  margin: 0;
}

.contacts-details__item {
  list-style-type: none;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: auto 1fr;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.contacts-details__label {
  margin-right: 8px;
}

@media (min-width: $tablet-width) {
  .contacts-details {
    padding-top: 75px;
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 65px;
  }

  .contacts-details__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .contacts-details__item {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .contacts-details__label {
    margin-right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-details {
    padding-top: 69px;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
  }

  .contacts-details__list {
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
    row-gap: 50px;
  }

  .contacts-details__item {
    margin-bottom: 0;
  }

  .contacts-details__label {
    margin-right: 16px;
  }
}
