.contacts__wrapper div {
  padding: 27px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__wrapper--background {
  background-color: #f2f2f2;
}

.contacts__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #111111;
}

.contacts__text {
  line-height: 20px;
  margin: 0;
  color: #444444;
}

.contacts__map {
  display: block;
  width: 100%;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper div{
    padding: 61px 70px 58px 70px;
    grid-template-columns: 172px 1fr;
    column-gap: 296px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__text {
    text-align: end;
    margin-top: -3px;
  }

  .contacts__text span {
    display: block;
    margin-top: 19px;
  }

  .contacts__map {
    height: 400px;
    background-image: url("../img/map-tablet.jpg");
    background-size: 768px 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 1440px;
    margin: 0 auto;
    position: relative;
  }

  .contacts__wrapper div{
    padding-left: 80px;
    padding-right: 80px;
    grid-template-columns: 163px 155px;
    column-gap: 87px;
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    left: 110px;
  }

  .contacts__text {
    text-align: left;
    margin-top: -4px;
  }

  .contacts__map {
    background-image: url("../img/map-desktop.jpg");
    background-size: 1440px 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 1440px auto;
    }
  }
}
