.example {
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 25px 20px 43px 20px;
}

.example__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 42px;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
}

.example__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 9px;
  column-gap: 27px;
  margin-bottom: 40px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &:last-of-type {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.example__term {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: 124px;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.example__definition {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: #444444;
  width: 87px;
  text-align: center;
  transform: translateY(-11px);
  background-color: #eaeaea;
}

.example__note {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  grid-column: 1/3;
  grid-row: 2/3;

  span {
    margin-left: 5px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 462px;
      background-color: #eaeaea;
      left: 0;
      bottom: 0;
    }
  }

  .example__wrapper {
    padding: 43px 30px 60px 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example__text {
    margin-bottom: 53px;
    padding-right: 10px;
  }

  .example__container {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 42px;
    margin: 0 auto;
    margin-bottom: 72px;
    width: $tablet-width - 60px;
  }

  .example__term {
    font-size: 30px;
    line-height: 37px;
    width: 160px;
    padding-bottom: 18px;
  }

  .example__definition {
    font-size: 14px;
    line-height: 14px;
    transform: translateY(-8px);
    background-color: #ffffff;

    br {
      display: none;
    }
  }

  .example__definition--weight {
    width: 114px;
  }

  .example__definition--time {
    width: 142px;
  }

  .example__note {
    font-size: 20px;
    line-height: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: end;
    margin-top: 13px;
    width: fit-content;
    margin-left: auto;
    margin-right: 2px;

    span {
      display: block;
      margin-top: 9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example::after {
    z-index: -1;
    height: 465px;
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: 176px auto auto auto;
    column-gap: 184px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 0;
    padding-bottom: 70px;
    width: 1220px;
    margin: 0 auto;
  }

  .example__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    padding-top: 43px;
    padding-bottom: 76px;
  }

  .example__text {
    font-size: 16px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 74px;
    padding-bottom: 60px;
    padding-right: 0;
    margin-bottom: 0;
  }

  .example__container {
    grid-column: 1/2;
    grid-row: 3/5;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 40px;
    width: fit-content;
  }

  .example__item {
    &:first-of-type {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &:last-of-type {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  .example__definition {
    background-color: #eaeaea;
    transform: translateY(-9px);
  }

  .example__note {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: left;
    margin-top: 0;
    padding-left: 3px;

    span {
      display: inline;
      margin-left: 63px;
    }
  }

  .example__slider {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
