.good {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.good__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
  color: #222222;
  grid-column: 1/2;
  grid-row: 1/2;
}

.good__amount {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  grid-column: 1/2;
  grid-row: 2/3;
}

.good__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: right;
}

.good__button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 15px;
  grid-column: 1/3;
  grid-row: 3/4;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .good {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;
  }

  .good__title {
    font-size: 20px;
    line-height: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .good__amount {
    font-size: 16px;
    line-height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 5px;
  }

  .good__price {
    font-size: 16px;
    line-height: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 5px;
  }

  .good__button {
    margin-top: 20px;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

@media (min-width: $desktop-width) {
  .good {
    grid-template-columns: 286px 206px 44px 244px;
    grid-template-rows: auto;
    column-gap: 38px;
  }

  .good__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .good__amount {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .good__price {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
  }

  .good__button {
    margin-top: -9px;
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
