.main-nav {
  font-family: "OswaldMedium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-nav__logo {
  padding: 10px 20px 17px 20px;
}

.main-nav__logo-text {
  display: block;
}

.main-nav__toggle {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 24px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.main-nav--closed {
  padding: 10px 20px 17px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.main-nav--closed .main-nav__logo {
  padding: 0;
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;
  background-image: url("../img/icons/open-menu.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened {
  align-items: center;
  width: auto;
  padding: 10px 20px 17px 20px;
}

.main-nav--opened .main-nav__logo {
  padding: 0;
}

.main-nav--opened .main-nav__toggle {
  display: block;
  background-image: url("../img/icons/close-menu.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  display: flex;
}

.main-nav__item {
  list-style-type: none;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

// nojs

@media (max-width: $mobile-width-only) {
  .main-nav--nojs {
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: stretch;
  }

  .main-nav--nojs .main-nav__logo {
    padding: 10px 20px 17px 20px;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: flex;
    flex-direction: column;
    position: static;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    font-family: "OswaldRegular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
  }

  .main-nav__logo {
    margin-right: 93px;
  }

  .main-nav__logo-text {
    display: none;
  }

  .main-nav__list {
    position: static;
    display: grid;
    grid-auto-flow: column;
  }

  .main-nav__item {
    border: none;
    padding: 0;
    padding-top: 18px;
    text-align: left;

    &:first-of-type {
      margin-right: 33px;
    }

    &:nth-of-type(2) {
      margin-right: 36px;
    }
  }

  .main-nav__link {
    display: block;
    width: fit-content;
    padding-bottom: 10px;
  }

  .main-nav__link--current {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    font-size: 20px;
    line-height: 30px;
    padding: 53px 110px 32px 110px;
  }

  .main-nav__list {
    background-color: transparent;
  }

  .main-nav__item--main-page .main-nav__link {
    color: #ffffff;
  }

  .main-nav__item--main-page .main-nav__link--current {
    border-bottom: 2px solid #ffffff;
  }
}
