.page-footer {
  background-color: #f2f2f2;
  width: 100%;
}

.page-footer__wrapper {
  padding: 39px 20px 22px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  padding-bottom: 26px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__socials {
  padding-top: 19px;
  padding-bottom: 16px;
}

.page-footer__copyright {
  padding-top: 21px;

  &:hover .copyright__logo {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 30px 55px 30px;
  }

  .page-footer__logo {
    padding: 0;
  }

  .page-footer__socials {
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 61px 110px 62px 110px;
  }
}
