.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  position: relative;
}

.product__image {
  position: absolute;
}

.product__image--small-size {
  bottom: 80px;
  left: 56px;
}

.product__image--big-size {
  bottom: 72px;
  left: 48px;
}

.product__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #222222;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 76px;
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: -2px;
}

.product__cell {
  padding: 0;
}

.product__cell--right-column {
  text-align: right;
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  width: 100%;
  margin-top: 18px;
  grid-column: 1/3;
  grid-row: 3/4;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
  }

  .product__image {
    position: absolute;
    height: fit-content;
  }

  .product__image--small-size {
    top: -45px;
    left: 82px;

    img {
      width: 162px;
      height: 172px;
    }
  }

  .product__image--big-size {
    top: -73px;
    left: 78px;

    img {
      width: 168px;
      height: 200px;
    }
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 17px;
    width: 174px;
    text-align: center;
  }

  .product__table {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
    width: 100%;
  }

  .product__cell {
    border-bottom: 1px solid #cdcdcd;
    padding-top: 3px;
    padding-bottom: 9px;
  }

  .product__button {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .product__title {
    width: 145px;
    font-size: 20px;
    line-height: 21px;
    margin-left: 2px;
  }

  .product__image--small-size {
    top: -52px;
    left: 43px;
  }

  .product__image--big-size {
    top: -80px;
    left: 39px;

    img {
      width: 172px;
      height: 196px;
    }
  }
}
