.show-all {
  padding: 81px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.show-all__plus {
  border: none;
  background-color: transparent;
}

.show-all__plus::before,
.show-all__plus::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #d3d3d3;
  top: 25px;
}

.show-all__plus::before {
  z-index: 1;
}

.show-all__plus::after {
  transform: rotate(90deg);
}

.show-all__title {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #111111;
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
  margin-left: -2px;
  color: #444444;

  br {
    display: none;
  }
}

.show-all__button {
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.show-all__button:hover {
  background-color: #ebebeb;
}

.show-all__button:active {
  color: rgba(68, 68, 68, 0.3);
}


@media (min-width: $tablet-width) {
  .show-all {
    padding: 160px 38px 38px 38px;
    border: 1px solid #f2f2f2;
  }

  .show-all__plus::before,
  .show-all__plus::after {
    height: 60px;
    top: 52px;
  }

  .show-all__title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    text-align: center;
    padding: 0 50px;
  }

  .show-all__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 84px;

    br {
      display: block;
    }
  }

  .show-all__button {
    padding: 12px 0;
  }
}

@media (min-width: $desktop-width) {
  .show-all {
    padding: 158px 38px 41px 38px;
  }

  .show-all__title {
    padding: 0;
  }
}
