.show-all {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-all__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #111111;
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
  color: #444444;
}

.show-all__button {
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 0;
  width: 100%;
}

.show-all__button:hover {
  background-color: #ebebeb;
}

.show-all__button:active {
  color: rgba(68, 68, 68, 0.3);
}


@media (min-width: $tablet-width) {
  .show-all {
    padding: 52px 38px 38px 38px;
    border: 1px solid #f2f2f2;
  }

  .show-all__title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    text-align: center;
  }

  .show-all__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .show-all {
    padding: 51px 38px 41px 38px;
  }
}
