.socials {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.socials__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials__item {
  list-style-type: none;

  &:nth-of-type(2) {
    margin-left: 26px;
    margin-right: 26px;
  }
}

.socials__link:hover svg {
  stroke: #68b738;
}

.socials__link:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .socials {
    border: none;
    margin-left: -5px;
  }

  .socials__item:nth-of-type(2) {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    margin: 0;
  }
}
