@font-face {
  font-family: "OswaldRegular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("..//..//fonts//oswaldregular.woff2") format("woff2"), url("..//..//fonts//oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "OswaldMedium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("..//..//fonts//oswaldmedium.woff2") format("woff2"), url("..//..//fonts//oswaldmedium.woff") format("woff");
}
.page-header {
  width: 100%;
}

.page-body {
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .page-body {
    font-size: 16px;
    line-height: 24px;
    align-items: stretch;
  }
}
.main-nav {
  font-family: "OswaldMedium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-nav__logo {
  padding: 10px 20px 17px 20px;
}

.main-nav__logo-text {
  display: block;
}

.main-nav__toggle {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 24px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.main-nav--closed {
  padding: 10px 20px 17px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
@media (min-width: 768px) {
  .main-nav--closed {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.main-nav--closed .main-nav__logo {
  padding: 0;
}

.main-nav--closed .main-nav__list {
  display: none;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__list {
    display: grid;
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;
  background-image: url("../img/icons/open-menu.svg");
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened {
  align-items: center;
  width: auto;
  padding: 10px 20px 17px 20px;
}

.main-nav--opened .main-nav__logo {
  padding: 0;
}

.main-nav--opened .main-nav__toggle {
  display: block;
  background-image: url("../img/icons/close-menu.svg");
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  display: flex;
}

.main-nav__item {
  list-style-type: none;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 767px) {
  .main-nav--nojs {
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: stretch;
  }

  .main-nav--nojs .main-nav__logo {
    padding: 10px 20px 17px 20px;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 768px) {
  .main-nav {
    font-family: "OswaldRegular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
  }

  .main-nav__logo {
    margin-right: 93px;
  }

  .main-nav__logo-text {
    display: none;
  }

  .main-nav__list {
    position: static;
    display: grid;
    grid-auto-flow: column;
  }

  .main-nav__item {
    border: none;
    padding: 0;
    padding-top: 18px;
    text-align: left;
  }
  .main-nav__item:first-of-type {
    margin-right: 33px;
  }
  .main-nav__item:nth-of-type(2) {
    margin-right: 36px;
  }

  .main-nav__link {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
  }

  .main-nav__link--current {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    font-size: 20px;
    line-height: 30px;
    padding: 53px 110px 32px 110px;
  }

  .main-nav__list {
    background-color: transparent;
  }

  .main-nav__item--main-page .main-nav__link {
    color: #ffffff;
  }

  .main-nav__item--main-page .main-nav__link--current {
    border-bottom: 2px solid #ffffff;
  }
}
.page-main {
  flex-grow: 1;
}

.page-main__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.page-main__title--catalog {
  padding: 27px 20px 41px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-main__title--form {
  padding: 27px 20px 37px 20px;
}

@media (min-width: 768px) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
  }

  .page-main__title--catalog {
    padding: 65px 30px 163px 30px;
    border: none;
  }

  .page-main__title--form {
    padding: 65px 69px 54px 69px;
  }
}
@media (min-width: 1440px) {
  .page-main__title--catalog {
    padding: 78px 110px 165px 110px;
  }

  .page-main__title--form {
    padding: 77px 110px 56px 110px;
  }
}
.promo {
  background-image: url("../img/promo-background-mobile.jpg");
  background-position: top 0 center;
  background-repeat: no-repeat;
  background-size: 320px 302px;
  padding-top: 27px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 303px;
  background-color: rgba(104, 183, 56, 0.85);
  background-position: top 0 center;
  top: 0;
}
.promo::after {
  position: absolute;
  content: "";
  background-color: #63a73a;
  height: 303px;
  width: 100%;
  top: 0;
  z-index: -1;
}

.promo__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
}

.promo__text {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  position: relative;
}

.promo__image img {
  position: relative;
}

.promo__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  display: block;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .promo {
    flex-flow: wrap;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    padding-top: 64px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -80px;
  }
  .promo::before {
    display: none;
  }
  .promo::after {
    display: none;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
    margin-left: 87px;
    margin-bottom: 41px;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin-left: 89px;
    margin-bottom: 49px;
  }

  .promo__image {
    order: 1;
    transform: translateY(-80px);
    z-index: -1;
    align-self: center;
  }

  .promo__image img {
    width: 709px;
    height: 609px;
  }

  .promo__link {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    padding: 14px 26px;
    margin-right: auto;
    margin-left: 90px;
  }
}
@media (min-width: 1440px) {
  .promo {
    padding-top: 223px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 267px;
    background-image: url("../img/promo-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: top 0 right 0;
    transform: translateY(-141px);
    z-index: -1;
  }
  .promo::before {
    background: linear-gradient(to right, #5ea532 50%, rgba(104, 183, 56, 0.85));
    display: block;
    height: 694px;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    min-width: 720px;
  }

  .promo__image {
    position: absolute;
    left: 558px;
    z-index: 1;
  }

  .promo__image img {
    width: 552px;
    height: 499px;
  }
}
.button {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  text-transform: uppercase;
}

.rations {
  padding: 20px;
}

.rations__item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  position: relative;
}
.rations__item:first-of-type {
  margin-bottom: 20px;
}

.rations__image {
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 21px;
}

.rations__svg--slim {
  margin-left: 7px;
}

.rations__svg--pro {
  margin-top: 11px;
  margin-left: -10px;
}

.rations__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
}

.rations__text {
  padding-bottom: 23px;
  margin: 0;
  margin-bottom: 19px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.rations__link {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.rations__link svg {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .rations {
    padding: 0 30px 45px 30px;
  }

  .rations__item {
    padding: 77px 52px 57px 52px;
  }
  .rations__item:first-of-type {
    margin-bottom: 30px;
  }

  .rations__image {
    width: 200px;
    height: 200px;
    top: 91px;
    right: 60px;
  }

  .rations__svg--slim {
    width: 140px;
    height: 194px;
    margin-left: 30px;
  }

  .rations__svg--pro {
    width: 268px;
    height: 112px;
    margin-top: 44px;
    margin-left: -36px;
  }

  .rations__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  .rations__text {
    padding-bottom: 0;
    border: none;
    margin-bottom: 52px;
    width: 340px;
  }

  .rations__link {
    font-size: 20px;
    line-height: 30px;
  }
  .rations__link svg {
    margin-left: 25px;
  }
}
@media (min-width: 1440px) {
  .rations {
    padding: 0 110px 71px 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .rations__item:first-of-type {
    margin-bottom: 0;
  }

  .rations__image {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .rations__svg--slim {
    width: 70px;
    height: 97px;
    margin-left: 15px;
  }

  .rations__svg--pro {
    width: 134px;
    height: 56px;
    margin-top: 20px;
    margin-left: -19px;
  }

  .rations__title {
    margin-bottom: 73px;
    margin-left: 184px;
  }

  .rations__text {
    margin-bottom: 27px;
    width: 100%;
  }

  .rations__link svg {
    margin-left: 27px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.special {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.special__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.special__list {
  padding: 0;
  margin: 0;
}

.special__item {
  list-style-type: none;
  margin-bottom: 20px;
  color: #444444;
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 20px;
}
.special__item:last-of-type {
  margin-bottom: 0;
}
.special__item p {
  margin: 0;
}

.special__icon {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special__number {
  display: none;
}

@media (min-width: 768px) {
  .special {
    padding: 0 30px 104px 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  .special__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 72px;
  }

  .special__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 182px;
    row-gap: 134px;
  }

  .special__item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
  }
  .special__item p {
    z-index: 1;
  }

  .special__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  .special__number {
    position: absolute;
    display: block;
    font-family: "OswaldRegular", sans-serif;
    font-size: 280px;
    line-height: 289px;
    color: #f2f2f2;
    top: -45px;
    left: 113px;
  }
}
@media (min-width: 1440px) {
  .special {
    padding: 0 110px 83px 110px;
    border-bottom: none;
  }

  .special__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 79px;
  }
}
.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;
}

.example__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
  padding-right: 10px;
}

.example__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 20px;
  margin-bottom: 40px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__item:first-of-type {
  grid-column: 1/2;
  grid-row: 1/2;
}
.example__item:last-of-type {
  grid-column: 2/3;
  grid-row: 1/2;
}

.example__term {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: 124px;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
}

.example__definition {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: #444444;
  width: 87px;
  text-align: center;
  transform: translateY(-11px);
  background-color: #eaeaea;
}

.example__note {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  grid-column: 1/3;
  grid-row: 2/3;
}
.example__note br {
  display: none;
}

.example__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.example__form {
  text-align: center;
}

.example__form label {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .example {
    background: none;
    padding: 43px 30px 62px 30px;
    position: relative;
  }
  .example::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
    left: 0;
    bottom: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example__text {
    margin-bottom: 54px;
  }

  .example__container {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 42px;
    margin: 0 auto;
    margin-bottom: 72px;
    width: 708px;
  }

  .example__term {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    padding-bottom: 20px;
  }

  .example__definition {
    font-size: 14px;
    line-height: 14px;
    transform: translateY(-8px);
    background-color: #ffffff;
  }
  .example__definition br {
    display: none;
  }

  .example__definition--weight {
    width: 114px;
  }

  .example__definition--time {
    width: 142px;
  }

  .example__note {
    font-size: 20px;
    line-height: 25px;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: end;
  }
  .example__note span {
    display: block;
  }

  .example__image {
    width: 592px;
    height: 511px;
    margin-bottom: 29px;
    position: relative;
    z-index: 1;
  }

  .example__form {
    position: relative;
    z-index: 1;
  }

  .example__form label {
    font-size: 20px;
    line-height: 30px;
  }

  .example__range {
    width: 426px;
    margin-left: 23px;
    margin-right: 23px;
  }
}
@media (min-width: 1440px) {
  .example {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: 176px auto auto auto;
    column-gap: 194px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .example::after {
    z-index: -1;
  }

  .example__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    padding-top: 43px;
    padding-bottom: 76px;
  }

  .example__text {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .example__container {
    grid-column: 1/2;
    grid-row: 3/5;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 55px;
    width: auto;
  }

  .example__item:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .example__item:last-of-type {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .example__definition {
    background-color: #eaeaea;
  }

  .example__note {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
  }
  .example__note span {
    display: inline;
    margin-left: 63px;
  }

  .example__image {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .example__form {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
.contacts__wrapper {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__wrapper--background {
  background-color: #f2f2f2;
}

.contacts__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #111111;
}

.contacts__text {
  line-height: 20px;
  margin: 0;
  color: #444444;
  text-align: right;
}

.contacts__map {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 65px 70px 56px 70px;
    grid-template-columns: 172px 1fr;
    column-gap: 296px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__text {
    text-align: end;
  }

  .contacts__text span {
    display: block;
    margin-top: 20px;
  }

  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    padding-left: 80px;
    padding-right: 80px;
    grid-template-columns: 163px 155px;
    column-gap: 87px;
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}
.page-footer {
  background-color: #f2f2f2;
  width: 100%;
}

.page-footer__wrapper {
  padding: 39px 20px 22px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  padding-bottom: 32px;
}

.page-footer__socials {
  padding: 20px 0;
}

.page-footer__copyright {
  padding-top: 22px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 58px 30px 55px 30px;
  }

  .page-footer__logo {
    padding: 0;
  }

  .page-footer__socials {
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    padding: 63px 110px 62px 110px;
  }
}
.socials {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.socials__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials__item {
  list-style-type: none;
  margin-right: 26px;
}
.socials__item:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  .socials {
    border: none;
  }
}
.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}

.copyright__text {
  margin: 0;
}

@media (min-width: 768px) {
  .copyright {
    justify-content: right;
  }

  .copyright__link {
    margin-right: 22px;
  }
}
.product-cards__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.product-cards__item {
  list-style-type: none;
  padding: 19px 20px 25px 20px;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: 768px) {
  .product-cards {
    padding-left: 30px;
    padding-right: 30px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }

  .product-cards__list {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 141px;
  }

  .product-cards__item {
    padding: 161px 37px 39px 37px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .product-cards {
    padding-left: 110px;
    padding-right: 110px;
  }

  .product-cards__list {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 143px;
  }
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 36px;
}

.product__image {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-top: auto;
  margin-left: auto;
}

.product__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #222222;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 76px;
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  grid-column: 2/3;
  grid-row: 2/3;
}

.product__cell {
  padding: 0;
}

.product__cell--right-column {
  text-align: right;
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  width: 100%;
  margin-top: 22px;
  grid-column: 1/3;
  grid-row: 3/4;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
  }

  .product__image {
    position: absolute;
  }

  .product__image--small-size {
    top: -45px;
    left: 82px;
  }
  .product__image--small-size img {
    width: 162px;
    height: 172px;
  }

  .product__image--big-size {
    top: -73px;
    left: 78px;
  }
  .product__image--big-size img {
    width: 168px;
    height: 200px;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
    width: 60%;
    text-align: center;
  }

  .product__table {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 33px;
    width: 100%;
  }

  .product__cell {
    border-bottom: 1px solid #cdcdcd;
    padding-top: 7px;
    padding-bottom: 9px;
  }

  .product__button {
    margin-top: auto;
  }
}
@media (min-width: 1440px) {
  .product__image--small-size {
    top: -52px;
    left: 43px;
  }

  .product__image--big-size {
    top: -80px;
    left: 39px;
  }
  .product__image--big-size img {
    width: 172px;
    height: 196px;
  }
}
.show-all {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-all__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #111111;
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
  color: #444444;
}

.show-all__button {
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .show-all {
    padding: 52px 38px 38px 38px;
    border: 1px solid #f2f2f2;
  }

  .show-all__title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    text-align: center;
  }

  .show-all__text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 87px;
  }
}
@media (min-width: 1440px) {
  .show-all {
    padding: 51px 38px 41px 38px;
  }
}
.additional-goods {
  padding-left: 20px;
  padding-right: 20px;
}

.additional-goods__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-goods__list {
  padding: 0;
  margin: 0;
}

.additional-goods__item {
  list-style-type: none;
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .additional-goods {
    padding-left: 30px;
    padding-right: 30px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    padding: 68px 37px 80px 37px;
    border-bottom: none;
  }

  .additional-goods__item {
    padding: 26px 38px 28px 38px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional-goods {
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }

  .additional-goods__wrapper {
    display: grid;
    grid-template-columns: 895px 245px;
    grid-template-rows: auto auto;
    column-gap: 80px;
    padding-bottom: 86px;
  }

  .additional-goods__title {
    padding: 75px 35px 81px 40px;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .additional-goods__item {
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .additional-goods__list {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .additional-goods__bonus {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.good {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.good__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  color: #222222;
  grid-column: 1/2;
  grid-row: 1/2;
}

.good__amount {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  grid-column: 1/2;
  grid-row: 2/3;
}

.good__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: right;
}

.good__button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 15px;
  grid-column: 1/3;
  grid-row: 3/4;
}

@media (min-width: 768px) {
  .good {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;
  }

  .good__title {
    font-size: 20px;
    line-height: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .good__amount {
    font-size: 16px;
    line-height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .good__price {
    font-size: 16px;
    line-height: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .good__button {
    margin-top: 25px;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@media (min-width: 1440px) {
  .good {
    grid-template-columns: 286px 206px 44px 244px;
    grid-template-rows: auto;
    column-gap: 38px;
  }

  .good__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .good__amount {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .good__price {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
  }

  .good__button {
    margin-top: 0;
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
.bonus {
  padding-top: 35px;
  padding-bottom: 35px;
}

.bonus__wrapper {
  background-image: url("../img/bonus-image-mobile.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.bonus__wrapper::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 290px;
  top: 0;
  left: 0;
  background-color: rgba(104, 183, 56, 0.85);
}

.bonus__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: relative;
  color: #ffffff;
  text-align: center;
  margin-top: 186px;
}

@media (min-width: 768px) {
  .bonus {
    padding-top: 69px;
    padding-bottom: 76px;
  }

  .bonus__wrapper {
    display: block;
    background-image: url("../img/bonus-image-tablet.jpg");
    width: 707px;
    height: 200px;
    margin: 0 auto;
  }
  .bonus__wrapper::before {
    width: 707px;
    height: 200px;
  }

  .bonus__text {
    margin: 0;
    text-align: left;
    position: absolute;
    top: 71px;
    right: 124px;
  }
}
@media (min-width: 1440px) {
  .bonus {
    padding: 0;
  }

  .bonus__wrapper {
    background-image: url("../img/bonus-image-desktop.jpg");
    width: 245px;
    height: 288px;
  }
  .bonus__wrapper::before {
    width: 245px;
    height: 288px;
  }

  .bonus__text {
    position: relative;
    text-align: center;
    right: auto;
    top: 185px;
  }
}
.form {
  padding-bottom: 32px;
}

.form__text {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.form__group {
  padding: 0;
  margin: 0;
  border: none;
}

.form__button {
  width: 100%;
  padding: 7px 44px;
  margin-bottom: 21px;
}

.form__note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.form__note p {
  margin: 0;
  line-height: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .form {
    padding-bottom: 72px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 66px;
  }

  .form__note {
    padding-left: 70px;
    padding-right: 67px;
    display: flex;
    flex-direction: row;
  }
  .form__note p {
    font-size: 16px;
  }

  .form__button {
    margin-bottom: 0;
    margin-right: 61px;
    width: 282px;
  }
}
@media (min-width: 1440px) {
  .form {
    padding-bottom: 82px;
  }

  .form__text {
    padding-left: 110px;
    padding-right: 110px;
  }

  .form__note {
    padding-left: 110px;
    padding-right: 110px;
  }

  .form__button {
    margin-right: 81px;
    width: 568px;
  }
}
.cat-name {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.cat-name__list {
  padding: 0;
  margin: 0;
}

.cat-name__item {
  list-style-type: none;
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.cat-name__item:last-of-type {
  margin-bottom: 0;
}

.cat-name__label {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .cat-name {
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 72px;
  }

  .cat-name__item {
    margin-bottom: 20px;
  }

  .cat-name__label {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .cat-name {
    padding: 0;
    margin: 0;
  }
}
.filter {
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 20px;
  padding-right: 20px;
}

.filter__list {
  padding: 0;
  margin: 0;
}

.filter__item {
  list-style-type: none;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 13px;
}
.filter__item :last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .filter {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 70px;
    padding-right: 67px;
    border: none;
  }

  .filter__list {
    padding: 25px 28px 25px 28px;
    border: 1px solid #e7e7e7;
  }

  .filter__item {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .filter {
    padding: 0;
  }
}
.contacts-details {
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;
}

.contacts-details__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.contacts-details__list {
  padding: 0;
  margin: 0;
}

.contacts-details__item {
  list-style-type: none;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.contacts-details__item:last-of-type {
  margin-bottom: 0;
}

.contacts-details__label {
  margin-right: 8px;
}

@media (min-width: 768px) {
  .contacts-details {
    padding-top: 75px;
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 65px;
  }

  .contacts-details__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .contacts-details__item {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .contacts-details__label {
    margin-right: 14px;
  }
}
@media (min-width: 1440px) {
  .contacts-details {
    padding-top: 69px;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
  }

  .contacts-details__list {
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
    row-gap: 50px;
  }

  .contacts-details__item {
    margin-bottom: 0;
  }

  .contacts-details__label {
    margin-right: 16px;
  }
}
.comment {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 23px;
}

.comment__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 38px;
}

.comment__input {
  width: 100%;
  padding: 0;
  min-height: 150px;
  resize: none;
}

@media (min-width: 768px) {
  .comment {
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 65px;
  }

  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .comment__input {
    min-height: 174px;
  }
}
@media (min-width: 1440px) {
  .comment {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
  }
}
.additionally {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 34px;
}

.additionally__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
}

.additionally__list {
  padding: 0;
  margin: 0;
}

.additionally__item {
  list-style-type: none;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.additionally__item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .additionally {
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 54px;
  }

  .additionally__title {
    font-size: 36px;
    line-height: 36px;
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 287px 287px;
    column-gap: 57px;
    row-gap: 32px;
  }

  .additionally__item {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .additionally {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 61px;
  }

  .additionally__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 32px;
  }
}
.logo {
  display: flex;
  align-items: center;
}

.logo__link {
  display: block;
  text-decoration: none;
  margin-right: 57px;
}

@media (min-width: 768px) {
  .logo__link {
    margin: 0;
  }

  .logo__image {
    display: block;
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo__image {
    width: 202px;
    height: 59px;
  }
}
@media (min-width: 1440px) {
  .cat-data {
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: 1fr 570px;
    column-gap: 80px;
  }
}
/*# sourceMappingURL=style.css.map */