.additional-goods {
  padding-left: 20px;
  padding-right: 20px;
}

.additional-goods__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
}

.additional-goods__list {
  padding: 0;
  margin: 0;
}

.additional-goods__item {
  list-style-type: none;
  padding-top: 13px;
  padding-bottom: 19px;
}
