.filter {
  padding-top: 22px;
  padding-bottom: 19px;
}

.filter__list {
  padding: 0;
  margin: 0;
}

.filter__item {
  list-style-type: none;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
