.promo {
  background-image: url("../img/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  padding-top: 27px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
    top: 0;
    left: 0;
  }
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
}

.promo__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  position: relative;
}

.promo__image {
  position: relative;
}

.promo__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  display: block;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 auto;
}
