@import "viewports.scss";
@import "blocks/page-body.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/promo.scss";
@import "button.scss";
@import "blocks/rations.scss";
@import "visually-hidden.scss";
@import "blocks/special.scss";
@import "blocks/example.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/socials.scss";
@import "blocks/copyright.scss";
@import "blocks/product-cards.scss";
@import "blocks/product.scss";
@import "blocks/show-all.scss";
@import "blocks/additional-goods.scss";
@import "blocks/good.scss";
@import "blocks/bonus.scss";
@import "blocks/form.scss";
@import "blocks/cat-name.scss";
@import "blocks/filter.scss";
@import "blocks/contacts-details.scss";
@import "blocks/comment.scss";
@import "blocks/additionally.scss";
@import "blocks/logo.scss";

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: medium;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
